/* Preset Rules */
body{
 background-color:white; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* Preset Rules */


/* header */

.containerFlex {
    display: flex;
    justify-content: space-between;
}


#bannerLogo {
    float: left;
    margin-top: 1rem
}


#list {
    display: flex;
    gap: 1.7rem;
    list-style: none;
    font-weight: 500;
    margin-top: 3.2rem;



    a {
        text-decoration: none;
        color: rgb(39, 35, 35);
        font-size: 14px;
        letter-spacing: -1px;
        font-weight: 600;

    }

    a:hover {
        color: rgb(122, 115, 115);
    }

    #blue {
        color: rgb(4, 118, 242);
        border-bottom: 4px solid rgb(4, 118, 242);
        padding-bottom: 3.7rem;
    }
}


/* header */


/* BlackBar */

.blackbar {
    margin-top: 1rem;
    background-color: rgb(48, 42, 42);

    h2 {
        color: white;
        height: 150px;
        padding-top: 3.3rem;
    }
}


/* BlackBar */


/* BlueBanner */

.BlueBanner {
    background-color: rgb(4, 118, 242);
    height: 150px;
    z-index: 2;
    position: relative;
}

#BlueList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 1rem;


    .BlueImg img {
        height: 45px;
        margin-top: 2.8rem;

    }

    .text p {
        padding-top: 47px;
        padding-right: 70px;
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
}

/* BlueBanner */



/* MainContent */

.bg {
    background-image: url("./assets/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}

#BgLogo {
    position: absolute;
    right: 350px;
    top: -120px;
    z-index: 1;
    float: right;

}

.MainUl {
    color: Grey;
    list-style: none;
    margin-top: 2rem;
    line-height: 23px;
    font-size: 13px;
    

    .whiteH3 {
        color: white;
        line-height: 50px;
        font-size: 1.1rem;
    }
}

.UlContainer {
    display: flex;
    gap: 5.5rem;

}

.negativeMargin {
    margin-top: -5.5rem
}

/* MainContent */



/* FooterBar */

.FooterBar {
    background-color: rgb(54, 50, 50);
    z-index: 3;
    position: relative;
    

}

.BtnSignUp {
    border: 3px solid rgb(4, 118, 242);
    background: none;
    color: white;
    font-size: 15px;
    padding: 10px;

}

.FlexFooter {
    display: flex;
    justify-content: space-between;
    padding: 2.1rem 0.5rem;
    
  
    
}

.FooterList {
    list-style: none;
    display: flex;
    gap: 18px;

    .Pfooter {
        padding-top: 5px;
        color: rgb(4, 118, 242);
        font-weight: 500;
        letter-spacing: 0.2px;
        font-size: 20px;
       
    }

}

/* FooterBar */